html {
  scroll-behavior: smooth;
  background-color: rgb(40, 40, 40);
}

body {
  margin: 0;
  background-color: rgb(40, 40, 40);
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Share Tech Mono", monospace;
}

ul {
  line-height: 3;
}

.title {
  font-size: 30px;
  text-align: center;
  color: white;
}

nav {
  background-color: black;
  box-shadow: 0px 0px 5px 0px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 0px 20px 0px 20px;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  z-index: 5;
  gap: 20px;
}

nav a {
  padding: 5px 10px 0px 10px;
  font-size: 15px;
  color: rgb(200, 200, 200);
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

nav a:hover {
  color: white;
  transition: 0.2s ease-in-out;
}

.nav_box {
  display: flex;
  flex-direction: column;
  transition: 1s ease-in-out;
}

.nav_bar {
  background-color: rgb(230, 230, 230);
  display: flex;
  width: 10px;
  height: 3px;
  margin: auto;
  border-radius: 40px;
  transition: 1s ease-in-out;
  opacity: 0;
  // animation: show 0.5s forwards;
}

#nav_pe {
  display: none;
}

#toolbar {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  gap: 20px;
}

#home i {
  font-size: 10px;
}

#totop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 30px;
  transition: 0.3s ease-in-out;
  z-index: 5;
}

#totop i {
  text-decoration: none;
  color: white;
}

#totop:hover {
  transform: scale(1.5);
}

#style_box {
  color: rgb(200, 200, 200);
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: rgb(40, 40, 40);
}

@keyframes addframe {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes removeframe {
  to {
    opacity: 0;
  }
}

/* Page 1 */
/*  */

#nameid1,
#nameid2 {
  /* color: white; */
  font-size: 50px;
  justify-content: center;
  box-sizing: border-box;
  margin: 5px 0px 5px 0px;
}

#nameid2 {
  text-align: center;
}

#first_page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 100vh;
  // background-image: url(./img/code_background.png);
  // background-repeat: no-repeat;
}

#title_box {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
}

span {
  opacity: 0;
  animation: show 2s forwards;
}

#name1 {
  animation: show 3s forwards;
  color: white;
}

#name2 {
  animation: show 3s forwards 0.4s;
  color: white;
}

#name3 {
  animation: show 3s forwards 0.8s;
  color: white;
}

#name4 {
  animation: show 3s forwards 1.2s;
  color: white;
}

#name5 {
  animation: show 3s forwards 1.6s;
  color: white;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#bar {
  background-color: black;
  width: 80vw;
  height: 5px;
}

/* Page 2 */
/*  */

#info_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
  width: 70vw;
}

#IMG {
  display: flex;
  flex: 50%;
  justify-content: center;
  width: 428px;
  height: 588px;
}

#myphoto {
  border-radius: 20px;
}

#textbox_info {
  box-sizing: border-box;
  padding: 50px;
  flex: 50%;
  text-align: justify;
  color: white;
}

.info_page {
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
}

p.info_text,
h2.info_text {
  font-size: 20px;
  margin: 30px;
}

/* Page 3 */
/*  */

#Education_page {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  box-sizing: border-box;
  margin-top: 10vh;
  margin-bottom: 10vh;
  justify-content: center;
  left: 0;
  width: 100%;
  background-color: rgb(80, 80, 80);
  color: white;
}

.Education {
  padding: 20px;
}

td.Education,
th.Education {
  font-size: 20px;
}

/* Page 4 */
/*  */

#Skills_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 50px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  gap: 20px;
}

#Skills_page p {
  font-size: 20px;
}

#Skills_page_title {
  flex: 100%;
  padding: 20px;
}

#skills_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 200px;
  margin: 20px;
  transition: 1s;
  color: rgb(40, 40, 40);
  gap: 10px;
}

.box:hover {
  background-color: rgb(80, 80, 80);
  transition: 0.5s;
  box-shadow: 0px 0px 12px -3px black;
  color: white;
}

#arduino_img {
  width: 188px;
  height: 128px;
}

#python_img {
  width: 117px;
  height: 128px;
}

#html_img {
  width: 128px;
  height: 128px;
}

#css_img {
  width: 91px;
  height: 128px;
}

#js_img {
  width: 128px;
  height: 128px;
}

/* Page 5 */
/*  */
#work_page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 100%;
  background-color: rgb(80, 80, 80);
  padding-bottom: 100px;
}

#work_page p {
  font-size: 20px;
  color: white;
}

#work_page_title {
  padding: 40px;
  box-sizing: border-box;
}

.date {
  margin-bottom: 50px;
  text-align: right;
}

.work_detail,
.position,
.project {
  margin: 0;
  text-align: left;
  margin: 10px;
}

// Project
.work_hr,
#project_hr {
  display: flex;
  width: 2px;
  height: 400px;
  background-image: linear-gradient(rgb(80, 80, 80), white, rgb(80, 80, 80));
  margin: 1px;
}

#project_details_button {
  width: 50px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  margin: 10px;
  transition: 0.5s ease-in-out;
  border: 1px solid white;
}

#project_details_button:hover {
  transform: show(1.2);
  transition: 0.5s ease-in-out;
}

#project_title {
  display: flex;
  flex: 100%;
  flex-direction: column;
  text-align: center;
}

#project_part {
  display: none;
  color: white;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 40px 20px 40px;
  background-color: rgb(50, 50, 50);
}

@keyframes open {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
  50% {
    width: 1px;
    height: 65vh;
    opacity: 1;
  }
  100% {
    width: 95vw;
  }
}

@keyframes close {
  0% {
    width: 95vw;
    height: 65vh;
    opacity: 1;
  }
  50% {
    width: 5px;
    height: 65vh;
    opacity: 1;
  }
  100% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}

#aiguided_logo,
#pizzamonster_logo,
#ok_box,
#drkong_logo {
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  border-radius: 20px;
  transition: all 1s ease-in-out;
}

#ok_logo {
  width: 152px;
  height: 200px;
  display: flex;
  transition: all 1s ease-in-out;
}

.company_logo:hover {
  transform: scale(0.9);
}

#work_1_img_box,
#work_2_img_box,
#work_3_img_box,
#work_4_img_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40vw;
  transition: 1s;
  gap: 20px;
  margin: 1px;
}

#work_1_text_box,
#work_2_text_box,
#work_3_text_box,
#work_4_text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  transition: 1s;
  padding: 50px;
  margin: 1px;
}

#work_1,
#work_2,
#work_3,
#work_4 {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  padding: 20px;
  margin: 20px;
  transition: 1s ease-in-out;
}

#edge_img {
  width: 381px;
  height: 300px;
  margin: 10px;
}

#path {
  width: 300px;
  height: 300px;
  margin: 10px;
}

/* page7 */

#contact_page {
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  // background-color: rgb(80, 80, 80);
}

#contact_form_box form {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  transition: 1s ease-in-out;
}

#input_name,
#input_email,
#input_num {
  font-size: 20px;
  width: 50vw;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
}

#input_message {
  font-size: 20px;
  width: 50vw;
  height: 300px;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
}

#submit_button {
  background-color: black;
  color: white;
  font-size: 15px;
  width: 50vw;
  height: 40px;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

#submit_button:hover {
  cursor: pointer;
  background-color: rgb(20, 20, 20);
}

input:focus {
  border: 3px solid black;
  box-shadow: 0px 0px 12px -3px rgb(0, 255, 255);
  transition: 1s ease-in-out;
}

textarea:focus {
  border: 3px solid black;
  box-shadow: 0px 0px 12px -3px rgb(0, 255, 255);
  transition: 1s ease-in-out;
}

/* footer */
/*  */
footer {
  display: flex;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
  color: white;
  z-index: 5;
  gap: 20px;
}

#contact_bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact_text {
  display: flex;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  margin: 0;
}

#contact_img_box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contact_img {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  border-style: none;
  text-decoration: none;
  transition: 0.5s;
}

.contact_img:hover {
  transform: show(1.3);
  transition: 0.5s;
  color: white;
}
